:root {
  --primary-color: #007bff;
  --primary-color-light: #057fff;
  --secondary-color: #6c757d;
  --background-dark-color: #10121a;
  --background-dark-grey: #191d2b;
  --border-color: #2e344e;
  --color-white: white;
  --background-light-color: #f1f1f1;
  --background-light-color-2: rgba(3, 127, 255, 0.3);
  --white-color: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Martel", sans-serif;
  list-style: none;
  text-decoration: none;
  font-size: 1.2rem;
}
body {
  background-image: url("https://images.unsplash.com/photo-1570751485906-b0bbe415db74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=708&q=80");
  background-color: var(--background-dark-color);
  color: var(--font-light-color);
}
a {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}
