.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  z-index: 1000;
}

.card:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
.nasa-logo {
  text-align: center;
}
.nasa-logo img {
  height: 100px;
  text-align: center;
}

.searchBar,
.buttons {
  text-align: center;
  z-index: 1000;
}

.form__input {
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.searchBar input {
  background-color: transparent;
  color: var(--white-color);
  border: none;
  border-bottom: 2.5px solid var(--white-color);
  border-color: hsl(189, 68%, 75%);
}
.searchBar ::placeholder {
  color: hsl(189, 68%, 75%);
  font-style: italic;
}

@media (min-width: 540px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 740px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1160px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
