/* .title {
  color: var(--background-dark-color);
  font-size: 0;
  line-height: 1.5;
  padding: 2rem 2rem 0 2rem;
  text-align: center;
  cursor: default;
}

.title span {
  font-size: 5rem;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
  transition: 0.5s linear;
}
title:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(255, 254, 254, 0.75);
  }
  100% {
    transform: translate(30%, 0);
  }
}

.title span:nth-child(2) {
  animation-delay: 0.5s;
}

.title span:nth-child(3) {
  animation-delay: 1s;
}

.title span:nth-child(4) {
  animation-delay: 1.5s;
}

.title span:nth-child(5) {
  animation-delay: 2s;
}

.title span:nth-child(6) {
  animation-delay: 2.5s;
}

.title span:nth-child(7) {
  animation-delay: 3s;
}
.title span:nth-child(8) {
  animation-delay: 3.5s;
}
.title span:nth-child(9) {
  animation-delay: 4s;
}
.title span:nth-child(10) {
  animation-delay: 4.5s;
}
.title span:nth-child(11) {
  animation-delay: 5s;
}
.title span:nth-child(12) {
  animation-delay: 5.5s;
} */

svg text {
  margin: 1rem;
  font-family: Lora;
  letter-spacing: 10px;
  stroke: var(--primary-color);
  font-size: clamp(2rem, 10vw, 100px);
  font-weight: 700;
  stroke-width: 3;
  animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: hsl(189, 68%, 75%);
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%, 0%);
  }
}
